@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Rampart+One&display=swap');

:root {
    --cor--primaria: #000000;
    --cor--secundaria: white;
    --cor--terciaria: #B722FD;
    --cor--hover:#272727;

    --fonte--principal:'Rampart One', cursive;
    --fonte--secundaria:'Gemunu Libre', sans-serif;
}



* {
    margin: 0%;
    padding: 0%;
}

body{
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
font-family:var(--fonte--secundaria);
font-size: 1.5rem;
font-weight: 600;
color:var(--cor--terciaria);
text-decoration: none;
}

.título-destaque {
    color: var(--cor--terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: var(--fonte--principal);
}

.apresentacao-conteudo-texto{
   font-size: 1.5rem; 
   font-family:var(--fonte--secundaria);
   padding: 10px;
}
.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-family: var(--fonte--principal);
}

.apresentacao-links-botao{

    display: flex;
    justify-content: center;
    gap: 16px;
    border: solid var(--cor--terciaria) 2px;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family:var(--fonte--secundaria);
}

.apresentacao-links-botao:hover{
    background-color: var(--cor--hover);
}

.apresentacao-links-redes{
    font-family: var(--fonte--principal);
}

.apresentacao-imagem{
width: 50%;    
}

.rodape{
    padding: 24px;
    color: var(--cor--secundaria);
    background-color: var(--cor--terciaria);
    font-family: var(--fonte--secundaria);
    text-align: center;
    font-size: 1.3rem;
}

@media(max-width: 1200px ) {
    .cabecalho{
         padding: 10%;
    }

    .cabecalho-menu{
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
}

.apresentacao-conteudo{
    width: auto;
}

.apresentacao-imagem{
    gap: 5px;
}


